h1{
    display: inline;
    background-color: blue;
    height: 200px;
}

h2{
    display: inline-block;
    background-color: green;
    height: 200px;
}

p {
    background-color: red;
    height: 200px;
    
}
