.cuadrado {
    height: 200px;
    width: 200px;
    display: inline-block;
}

.c1 {
    background-color: blue;
    position: static;
    top: 200px;
    left: 200px;

}

.c2{
    background-color: green;
    position: relative;
    top: 200px;
    left: 200px;
}

.c3{
    background-color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
}

.c4{
    background-color: pink;
    position: fixed;
    top: 20px;
    left: 20px;
}

.c5{
    background-color: violet;
    width: 100%;
    height: 50%;
    overflow: scrl;
}

.c6{
    display: block;
    background-color: red;
    position: sticky;
    height: 100px;
    top: 20px;
    left: 20px;
}

.c7{
    display: block;
    background-color: burlywood;
    height: 100px;
}